@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 15px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

html,body{
  height:100%;
}
body {
  font-family: "Raleway", "Lucida Grande", sans-serif;
  
  color: #333;
  line-height: 1.6;
  
}

.page-wrapper{
  /*background: url('img/ocean.jpg') no-repeat
    left top/cover;*/

  width: 100%;
  height:200%;
}
/*nav bar*/
header{
  height: 65px;
  background-color: white;
}
header::after{

  content: '';
  display: table;
  clear:both;
}
.logo{
  margin-top:7.5px;
  height: 50px;
  width: auto;
  float: left;
}
nav{
  margin-top:18.25px;
  float: right;
  
}
nav h1{
  display: inline-block;
  font-size: 20px;
  float: left;
}
nav ul{
  
  padding-top: auto;
  padding-bottom: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li{

  display: inline-block;
  
  margin-left:50px; 
  margin-right: 20px;

}

nav a{
  color:#444;
  text-decoration: none;
  text-transform: uppercase;


}

nav a:hover{
  color: #000;
  text-decoration: underline;
}

body{
    background-color: #0093E9;
    background-image: linear-gradient(116deg, #0093E9 0%, #80D0C7 100%);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

#errorCode{
    color: white;
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 20px;
    font-size: 100px;
    display: block;
    transform: skewY(-5deg);
}

#errorText{
    margin-left: 15px;
    color: white;
    text-align: center;
    font-size: 30px;
    display: block;
    transform: skewY(-5deg);
}

