@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,body{
  height:100%;
}
body {
  font-family: "Raleway", "Lucida Grande", sans-serif;
  background: #f4f4f4;
  color: #333;
  line-height: 1.6;
  
}
.page-wrapper{
  min-height:100%;
}


.container{
  width: 85%;
  margin: 0 auto;
}
/*nav bar*/
header{
  background: #4cacd4;
}
header::after{
  content: '';
  display: table;
  clear:both;
}
.logo{
  padding-top:5px;
  height: 50px;
  width: auto;
  float: left;
}
nav{
  float: right;
}
nav h1{
  display: inline-block;
  font-size: 20px;
  float: left;
}
nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li{
  display: inline-block;
  padding-top: 11px;
  margin-left:50px; 
  margin-right: 20px;

  position: relative;
}

nav a{
  color:#444;
  text-decoration: none;
  text-transform: uppercase;


}

nav a:hover{
  color: #000;
  text-decoration: underline;
}

/*card display*/
.wrap{
  width:1000px;
  margin:auto;
  margin-top: 100px;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
  transition: 0.4s;
  height: 500px;
  width:300px;
  background:#fff;
  text-align: center;
  text-align: bottom;
  font-size: 16px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  float: left;
  margin:10px;
  color:#333;
  flex-direction: horizontal;
}

.card .container{
  text-align: bottom;
  margin: 20px;
}


/*Image Slider CSS*/

.slider {
  background:#333;
  position: relative;
  overflow: hidden;
  height: 90vh;
  width: 100%;
}
.slider img{
  position: absolute;
  
  left: 5%;
  top: 5%;
  height: 300px;
  width: 300px;
}

.slide {
  background:#f4f4f4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  bottom: 70px;
  left: -600px;
  opacity: 0;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
  padding: 35px;

}

.slide .content h1 {
  margin-bottom: 10px;
  font-size: 30px;
}
.slide .title{
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  
  left: 35%;
  font-size: 40px;
  font-stretch: "condensed";
  color: #f4f4f4;
  padding: 15px;
}
.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}



@media (max-width: 500px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }

  .slide.current .content {
    transform: translateY(-300px);
  }
}



/* Backgorund Images */
 
 
.slide:first-child {
  background: url('img/Worldhome.png') no-repeat
    center top/cover;
  background-size: 100vw 80vh;
  
}
.slide:nth-child(2) {
  background: url('img/Worldhome.png') no-repeat
    center top/cover;
  background-size: 100vw 80vh;
}
.slide:nth-child(3) {
  background: url('img/Worldhome.png') no-repeat
    center top/cover;
  background-size: 100vw 80vh;
}


.footer {
  margin-top: 50px;
   position: absolute;
   left:0px;
   bottom: -1200px;
   
   height:350px;
   width:100%;
   background:#4cacd4;
   
   position: relative;


}
.footer .footer-content{
  position: absolute;
  left: -400;
  color: white;

  font: "Raleway";
   font-size: 15px;
  height:350px;
  display: flex;
}
.footer .footer-content .foot-section{
  padding:25px;
  flex:1;
  text-align: center;

}

.footer .footer-content .foot-section img{
  height: 50px;
  width: auto;

}
#links a{
  font: "Raleway";
   color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 2px;

}

#links a:hover{
  font: "Raleway";
  color: #000;
  text-decoration: underline;
}
.footer .footer-bottom{
  background-color: #4eb4d6;
  height: 50px;
  width:100%;
  text-align: center;
  position: absolute;
  bottom:0px;
  left: 0px;
  padding-top:20px;
}