@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,body{
  height:100%;
}
body {
  font-family: "Raleway", "Lucida Grande", sans-serif;
  
  color: #333;
  line-height: 1.6;
  
}

.page-wrapper{
  /*background: url('img/ocean.jpg') no-repeat
    left top/cover;*/

  width: 100%;
  height:200%;
}
/*nav bar*/
header{
  height: 65px;
  background-color: white;
}
header::after{

  content: '';
  display: table;
  clear:both;
}
.logo{
  margin-top:7.5px;
  height: 50px;
  width: auto;
  float: left;
}
nav{
  margin-top:18.25px;
  float: right;
  
}
nav h1{
  display: inline-block;
  font-size: 20px;
  float: left;
}
nav ul{
  
  padding-top: auto;
  padding-bottom: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li{

  display: inline-block;
  
  margin-left:50px; 
  margin-right: 20px;

}

nav a{
  color:#444;
  text-decoration: none;
  text-transform: uppercase;


}

nav a:hover{
  color: #000;
  text-decoration: underline;
}

#diagnose{
  

}

/*Image Slider CSS*/

.slider {

  background:#333;
  position: relative;
  overflow: hidden;
  height: 90vh;
  width: 100%;
}


.slide {
  background:#f4f4f4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  
  
}




.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  top: 200px;
  left:30px;
  
  opacity: 0;
  width: 500px;
  height: 300px;
  
  color: #1D435A;
  padding: 35px;
  float: left;
  align-content: center;
}

.slide .content img{
 width: 400px;
 height: auto;
 padding-top: 30px;
}

.slide .content h1 {
  margin-bottom: 10px;
  font-size: 60px;
  line-height: 60px;
}

.slide.current .content {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}







/* Backgorund Images */
 
.slide:first-child {
  background: url('img/background-main.jpg') no-repeat
    center top/cover;
  
  
}
.slide:nth-child(2) {
  background: url('img/background-main.jpg') no-repeat
    left top/cover;
    
  }
.slide:nth-child(3) {
  background: url('img/background-main.jpg') no-repeat
    left top/cover;
    
  
}



.txt-type > .txt {
  border-right: 0.2rem solid #777;
}
/*card display*/
.wrap{


  height: auto;
  width: 80%;
  margin-left: 10%;
   
  
}

.card{  
  transition: 0.4s;
  height: 400px;
  width:25%;
  background:#fff;
  text-align: center;
  text-align: bottom;
  font-size: 16px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  float: left;
  padding: 20px;
  color:white;
  flex-direction: horizontal;
}
#one{
  background-color: #56AAE6;
}
#two{
  background-color: #4493D6;
}
#three{
  background-color: #357DC7;
}
#four{
  background-color: #2969A9;
}

.image-container{
  width: 120px;
  height: 120px;
  padding: 10px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;

}

.card-container{
  position: relative;
  bottom: 10px;
  
  padding: 20px;
}

.card-container p{
  font-size: 15px;
}

.card-container h1{
  font-size: 30px;
}

.web-title{
  margin-top: 40px;
  margin-left: 10%;
  width: 80%;
  height:50px;
  background-color: #1D435A;
  color: white;
  padding-left: 20px;

}

.typer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 3rem;
}
button{
  position: relative;
  top: 550px;
  left:100px;
  color: white;
  border-radius: 5px;
  font:"Railway";
  font-size: 20px;
  
  font-weight: 2px;
  height: 75px;
  width: 250px;
  background: #58A3C3;
  border:none;
}





.footer {
  border-top: 2px solid;
  border-color: #343A40;
  margin-top: 50px;
   position: absolute;
   left:0px;
   top: 180%;
   height:350px;
   width:100%;
   background:white;
   
   


}

.footer .footer-content{
  color: #343A40;
  font: "Raleway";
   font-size: 15px;
  height:350px;
  display: flex;
  flex-direction: horizontal;
}
.links{

  
  padding:25px;
  
  text-align: center;
  width: 50%;

}
.about{
  
  padding:25px;
  flex:1;
  text-align: center;
  width: 40%;

}

.about img{
  height: 50px;
  width: auto;

}
#links a{
  font: "Raleway";
  color: #343A40;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 2px;

}

#links a:hover{
  font: "Raleway";
    text-decoration: underline;
}
.footer .footer-bottom{
  background-color: #4eb4d6;
  height: 50px;
  width:100%;
  text-align: center;
  position: absolute;
  
  left: 0px;
  padding-top:20px;
}